body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}
.header {
    border: 1px solid black;
}
.content {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}
.content-planning {
    border: 1px solid black;
    width: 25vw;
}
#planning-add-h3 {
    font-size: 5rem;
    font-weight :900;
}
.content-tasks {
    border: 1px solid black;
    width: 75vw;
}
.item-container {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    align-items: center;
    justify-content: space-between;
}
.left-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.right-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.item-element {
    margin: 0.5rem;
}