:root {

    --header-color: #303841;
    --header-font-color: white;
    --planning-color: white;
    --planning-font-color: black;
    --content-tasks-color: white;
    --task-color: white;
    --task-font-color:black;
    --button-color: #303841;
    --button-font-color: white;
    --borders-color: black;
    --hover-color: #d5e3f8;
}

body {  
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: #2f3238;
}
.header {
    background-color: var(--header-color);
    color: var(--header-font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
}
.header-title {
    font-size: 1.5rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.content {
    display: flex;
    flex-direction: row;
}
.content-planning {
    background-color: #747982;
    color: white;
    width: 25vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid var(--borders-color);
    overflow-y: auto;
    overflow-x: hidden;
}
#planning-home-h3 {
    cursor: pointer;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#planning-home-h3:hover {
    color: white;
    text-decoration: underline;
    font-weight: 900;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.planning-list {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 1rem 1rem;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    color: black;
}
.planning-home {
    display: flex;
    flex-direction: column;
}
.planning-projects {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#planning-projects-h3 {
    display: flex;
    flex-direction: column;
    cursor: zoom-in;
    align-items: flex-start;
    justify-content: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#planning-projects-list {
    display: flex;
    flex-direction: column;
}
.project-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.project-delete:hover {
    color: white;
}
.project-container h3 {
    cursor: pointer;
}
#planning-project-list .fa-solid.fa-trash-can {
    margin-left: 1rem;
}
.fa-solid.fa-trash-can {
    cursor: pointer;
}
.planning-add {
    width: 100%;
}
#planning-add-h3 {
    font-size: 5rem;
    font-weight :900;
}
#planning-add-button {
    background-color: #1d1e20;
    color: var(--button-font-color);
    width: 100%;
    height: 3rem;
    font-weight: bold;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    cursor: pointer;
}
.project-h3 {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.project-h3:hover {
    color: white;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;  
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
}
#planning-add-button:hover {
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer; 
}
.content-tasks {
    background-color: #78808e;
    width: 75vw;
    border: 1px solid black;
    overflow-x: hidden;
    overflow-y: auto;
}
#all-tasks {
    
}
.item-container {
    color: var(--task-font-color);
    display: flex;
    flex-direction: row;
    border: 1px solid #7aa1e6;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 2rem 1rem 1rem;
    background: rgb(213,227,248);
    background: radial-gradient(circle, rgba(213,227,248,1) 0%, rgba(185,198,217,1) 96%);
}
.item-container:hover {
    background-color: var(--hover-color);
    border-color: lightblue;;
    box-shadow: #303841;
    background: rgb(213,227,248);
    background: radial-gradient(circle, rgba(213,227,248,1) 0%, rgba(243,248,255,1) 85%);
}
.left-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.right-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.item-element {
    margin: 0.5rem;
}
.title-container {
    overflow: hidden;
    width: 240px;
    white-space: nowrap;
}
.duedate-container {
    
}
.details-container button {
    background-color: var(--button-color);
    color: var(--button-font-color);
    border-radius: 0.5rem;
    font-weight: bold;
    border-color: var(--button-color);
    cursor: pointer;
}
#add-dialog-open {
    width: 100vw;
    height: 100vh;
    border-radius: 0.5rem;
    background-color: #78808E;
    overflow: scroll;
}
.details-dialog {
    border-radius: 0.5rem;
    overflow-x: hidden;
    border-radius: 0.5rem;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}
.details-dialog-header-container {

    background-color: var(--header-color);
    color: var(--header-font-color);
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: 100%;
}

.details-dialog-header-container h2 {
    margin: 2rem;
}
.details-dialog-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #78808E;
    height: 100%;
    color: black;
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
}
.details-dialog-info-container p {
    margin: 1rem;
}
.details-dialog-info-left-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #78808E;
}
.details-dialog-info-right-container {
    display: flex;
    flex-direction: column;   
    align-items: flex-start;
    justify-content: center;
    background-color: #78808E;
}
.details-container dialog {
    width: 90vw;
    height: 75vh;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.modal-content-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#modal-content-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0rem;
    background-color: #78808E;
    width: 100%;
    margin: 0rem;
}

#add-modal-task {
    font-size: 2rem;
    cursor: pointer;
    background-color: #1d1e20;
    color: var(--button-font-color);
    border: 1px solid black;
    border-radius: 0.5rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0rem 1rem 1rem;
}
#add-modal-task:hover {
    background-color: black;
    color: white;
}
#add-modal-project {
    font-size: 2rem;
    cursor: pointer;
    background-color: #1d1e20;
    color: var(--button-font-color);
    border: 1px solid black;
    border-radius: 0.5rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0rem 1rem 1rem;
}
#add-modal-project:hover {
    background-color: black;
    color: white;  
}

#add-dialog-open {
    overflow-x: hidden;
}
#add-dialog-close {
    cursor: pointer;
}

#add-dialog-open .modal-header {
    background-color: var(--header-color);
    color: var(--header-font-color);
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: 100%;
}

.modal-header h2 {
    margin: 2rem;
}

dialog {
    padding: 0px;
}
.form-group {
    margin: 0rem;
    width: 500px;  
}
.form-input {
    background-color: #d5e3f8;
    border: 1px solid lightblue;
    border-radius: 0.5rem;
}
.form-button-choice {
    background-color: #1d1e20;
    border-color: black;
    color: var(--button-font-color);
    width: 100%;
    height: 2rem;
    font-weight: 900;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    cursor: pointer;
    padding: 1rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-button-choice:hover {
    background-color: black;
    border-color: black;
    color: white;
    width: 100%;
    height: 2rem;
    font-weight: 900;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    cursor: pointer;
    padding: 1rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-group .form-label {
    font-size: 2rem;
    font-weight: bold;
    color: black;
}
.form-group .form-input {
    width: 100%;
    font-size: 2rem;
}

.details-dialog-close {
    cursor: pointer;
}

/* media queries*/

@media (max-width: 750px) {
    .body {

    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .content-planning {
        width: 100vw;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .content-tasks {
        width: 100vw;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .planning-add {
        margin-bottom: 0px;
    }
    #add-modal-project {
        font-size: 1.5rem;
        cursor: pointer;
        background-color: #1d1e20;
        color: var(--button-font-color);
        border: 1px solid black;
        border-radius: 0.5rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        margin: 1rem 1rem 1rem 1rem;
    }
    #add-modal-task {
        font-size: 1.5rem;
        cursor: pointer;
        background-color: #1d1e20;
        color: var(--button-font-color);
        border: 1px solid black;
        border-radius: 0.5rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        margin: 1rem 1rem 1rem 1rem;
    }
    .form-group {
        width: 100%;
    }
    .details-dialog-info-container p {
        margin: 1rem;
        font-size: 1rem;
    }
    .item-container {
        color: var(--task-font-color);
        display: flex;
        flex-direction: column;
        border: 1px solid #7aa1e6;
        border-radius: 0.5rem;
        align-items: center;
        justify-content: space-between;
        margin: 1rem 2rem 1rem 1rem;
        background: rgb(213,227,248);
        background: radial-gradient(circle, rgba(213,227,248,1) 0%, rgba(185,198,217,1) 96%);
    }
    .left-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        margin-left: 50%;
    }
    .right-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        margin-left: 50%;
    }
  }

  @media (max-height: 750px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .content-planning {
        overflow-x: hidden;
        overflow-y: auto;
    }
    .content-tasks {
        overflow-x: hidden;
        overflow-y: auto;
    }
    .details-dialog-info-container p {
        margin: 1rem;
        font-size: 1rem;
    }
  }
